*{
    font-size: 15px;
}

.cartItems{
    overflow: scroll;
    height: 280px;
}

.checkout{
    display: grid;
    grid-template-columns: 50% 50%;
}

.goToCheckout{
    text-align: right;
    font-weight: bold;
    align-self: center;
    color: rgb(255, 106, 0);
}