@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.courses{
    overflow: scroll;
    height: 460px;
}

.course{
    padding: 1%;
    display: grid;
    grid-template-columns: 8% 36% 22% 11% 6% 12% 5%;
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
    border-radius: 5px;
    height: 15%;
}

.addToCartButton{
    height: 30px;
    align-self: center;
    width: 85%;
    justify-self: right;
    font-size: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 106, 0);
    border-color: rgb(255, 106, 0);
    border-radius: 5px;
}

.exploreButton{
    height: 30px;
    align-self: center;
    margin-left: 15%;
    margin-right: 5%;
    background-color: white;
    border-color: white;
    border-radius: 5px;
}

.star{
    width: 15px;
    height: auto;
}

.courseTitle{
    text-align: left;
    align-self: center;
    width:"90%";
    padding-right: 5%;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

.courseAuthor{
    align-self: center;
    justify-self: left;
    font-size: 13px;
}

.courseDiscountedPrice{
    align-self: center;
    font-weight: bold;
}

.courseOriginalPrice{
    align-self: center;
    text-decoration: line-through;
    font-size: 9px;
    color: gray;
}

.courseIcon{
    background-color:#f1f1f3;
    margin-right: 10%;
}

.keywords{
    background-color: rgb(255, 106, 0);
    border-color: rgb(255, 106, 0);
    font-size: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}